<mat-card
  class="user-card"
  appearance="outlined"
  (click)="openDialog()"
  [ngClass]="{'active': user.plan.status === 'active', 'inactive': user.plan.status === 'inactive'}"
>
  <mat-card-header>
    <mat-card-title>{{ user.name }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div><strong>E-mail: </strong>{{ user.email }}</div>
    <div><strong>Age: </strong>{{ user.age }}</div>
  </mat-card-content>
  
  <mat-card-footer class="card-footer">
    <mat-chip-set aria-label="Plan Type">
      <mat-chip>{{user.plan.type}}</mat-chip>
    </mat-chip-set>
  </mat-card-footer>
</mat-card>