<mat-toolbar>
  <a href="/">
    <img class="logo" [src]="logoPath" alt="Logo">
  </a>

  <span class="spacer"></span>
  
  <!-- <div class="flags">
    <button mat-button>
      <img class="language-icon" [src]="brazilLogoPath" alt="Portuguese" (click)="changeLang('pt')" style="cursor:pointer;">
    </button>

    <button mat-button>
      <img class="language-icon" [src]="canadaLogoPath" alt="English" (click)="changeLang('en')" style="cursor:pointer;">
    </button>
  </div> -->
</mat-toolbar>